In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# Read in csv
birth_path = 'abs_ births_StatAreas_level4_2012-2019_Table 1.1.csv'
birth_data_df = pd.read_csv(birth_path)

birth_data_df.head(20)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,"33010DO001 Births, Australia 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) Wed 9 Dec ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 1.1 Births, Summary, Statistical Areas L...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Age-specific fertility rates,NaN,NaN,NaN,NaN,NaN,...,NaN,Age-specific fertility rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Place of Usual Residence,NaN,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,...,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
6,2016 ASGS code,"2016 GCCSA, SA4",persons,no.,rate,rate,rate,rate,rate,rate,...,no.,rate,rate,rate,rate,rate,rate,rate,rate,years
7,1,NEW SOUTH WALES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,102,Central Coast,"325,163","3,740",17.0,69.4,127.9,126.8,62.2,12.2,...,"3,821",10.3,56.1,118.8,131.0,66.2,13.8,1.2,1.99,30.7
9,115,Sydney - Baulkham Hills and Hawkesbury,"221,249","2,250",2.9,22.0,93.3,152.2,72.3,13.9,...,"2,427",1.5,16.9,82.0,141.7,72.6,14.5,0.9,1.65,32.8
10,116,Sydney - Blacktown,"320,288","5,504",22.9,75.8,143.0,134.9,65.6,13.7,...,"5,985",13.1,58.5,119.8,134.3,68.7,14.3,1.1,2.05,31.0
11,117,Sydney - City and Inner South,"291,397","3,752",7.2,13.1,36.6,81.3,86.0,26.6,...,"3,688",2.0,5.5,21.6,67.7,77.5,25.7,2.8,1.01,33.7
12,118,Sydney - Eastern Suburbs,"271,192","3,865",3.7,9.2,38.1,113.9,110.2,31.8,...,"3,368",1.2,4.9,24.3,98.0,106.3,32.0,4.4,1.36,34.5
13,119,Sydney - Inner South West,"560,344","8,776",8.6,54.4,115.6,138.3,77.5,18.6,...,"8,373",4.5,37.4,89.3,120.9,77.0,20.1,1.7,1.75,31.5
14,120,Sydney - Inner West,"284,311","4,381",3.8,18.4,64.5,130.4,103.2,24.0,...,"3,671",1.3,9.3,39.7,107.2,91.6,24.0,2.3,1.38,33.5
15,121,Sydney - North Sydney and Hornsby,"399,807","4,897",1.3,9.3,52.2,131.9,99.7,23.8,...,"4,527",0.3,6.0,41.2,116.5,90.7,22.7,1.7,1.40,34.2
16,122,Sydney - Northern Beaches,"254,115","3,397",3.0,16.4,72.5,152.5,110.3,26.3,...,"2,892",0.7,10.4,55.4,136.1,103.8,24.8,2.3,1.67,34.1
17,123,Sydney - Outer South West,"247,256","3,611",17.5,75.8,136.7,125.2,59.2,13.0,...,"4,371",11.8,61.3,129.4,129.5,64.9,13.9,1.0,2.06,30.4
18,124,Sydney - Outer West and Blue Mountains,"300,556","4,162",18.4,66.7,131.2,121.3,61.7,13.5,...,"4,580",11.5,58.7,118.2,125.7,63.0,13.5,0.9,1.96,30.3
19,125,Sydney - Parramatta,"423,079","7,618",10.5,67.2,124.4,140.7,74.3,17.4,...,"7,692",5.6,46.7,103.3,121.9,74.8,16.4,1.6,1.85,31.3