In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
# Read in csv
birth_path = 'Database 1.xlsx - Sheet2_starter.csv'
birth_data_df = pd.read_csv(birth_path)

birth_data_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
0,2012,Greater Sydney,"4,677,196","66,474",10.0,41.7,93.0,128.9,81.5,19.0,1.1,1.88,31.6
1,2012,Rest of NSW,"2,627,048","31,583",22.9,81.0,133.2,126.6,59.1,11.4,0.6,2.17,29.2
2,2012,Greater Melbourne,"4,265,843","59,997",6.9,31.9,84.0,127.5,80.5,17.6,1.1,1.75,31.9
3,2012,Rest of Vic.,"1,385,248","17,282",16.9,68.1,129.1,132.3,61.9,12.1,0.5,2.10,29.9
4,2012,Greater Brisbane,"2,196,288","31,361",18.9,55.9,102.0,124.0,68.8,14.7,0.8,1.93,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2019,Greater Hobart,"236,136","2,717",11.5,44.3,89.6,118.7,66.7,13.5,0.8,1.72,31.1
116,2019,Rest of Tas.,"298,321","3,018",14.0,73.1,113.6,107.6,50.1,10.7,0.4,1.85,29.4
117,2019,Greater Darwin,"147,255","2,141",13.3,62.8,91.6,106.4,65.1,15.4,1.4,1.78,30.9
118,2019,Rest of NT,"98,674","1,511",57.1,111.9,91.8,91.5,51.5,10.1,0.7,2.07,27.8
119,2019,AUSTRALIA,"25,364,307","305,832",9.5,41.8,87.4,117.8,70.9,15.7,1.3,1.72,31.4