In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
# Read in csv
birth_path = 'Database 1.xlsx - Sheet2_starter.csv'
birth_data_df = pd.read_csv(birth_path)

birth_data_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
0,2012,Greater Sydney,"4,677,196","66,474",10.0,41.7,93.0,128.9,81.5,19.0,1.1,1.88,31.6
1,2012,Rest of NSW,"2,627,048","31,583",22.9,81.0,133.2,126.6,59.1,11.4,0.6,2.17,29.2
2,2012,Greater Melbourne,"4,265,843","59,997",6.9,31.9,84.0,127.5,80.5,17.6,1.1,1.75,31.9
3,2012,Rest of Vic.,"1,385,248","17,282",16.9,68.1,129.1,132.3,61.9,12.1,0.5,2.10,29.9
4,2012,Greater Brisbane,"2,196,288","31,361",18.9,55.9,102.0,124.0,68.8,14.7,0.8,1.93,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2019,Greater Hobart,"236,136","2,717",11.5,44.3,89.6,118.7,66.7,13.5,0.8,1.72,31.1
116,2019,Rest of Tas.,"298,321","3,018",14.0,73.1,113.6,107.6,50.1,10.7,0.4,1.85,29.4
117,2019,Greater Darwin,"147,255","2,141",13.3,62.8,91.6,106.4,65.1,15.4,1.4,1.78,30.9
118,2019,Rest of NT,"98,674","1,511",57.1,111.9,91.8,91.5,51.5,10.1,0.7,2.07,27.8
119,2019,AUSTRALIA,"25,364,307","305,832",9.5,41.8,87.4,117.8,70.9,15.7,1.3,1.72,31.4

In [25]:
birth_data_2012_df = birth_data_df.loc[birth_data_df['Year'] == 2015]
birth_data_2012_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
45,2015,Greater Sydney,"4,930,189","67,268",7.6,35.4,84.3,123.9,78.9,18.4,1.4,1.75,31.8
46,2015,Rest of NSW,"2,685,979","31,210",19.0,70.6,123.0,120.3,56.3,11.4,0.6,2.01,29.5
47,2015,Greater Melbourne,"4,586,012","57,518",5.8,29.3,76.7,120.4,77.9,17.0,1.3,1.64,32.0
48,2015,Rest of Vic.,"1,436,310","15,874",14.8,63.9,120.9,127.9,61.8,11.7,0.7,2.01,30.1
49,2015,Greater Brisbane,"2,318,653","30,493",14.2,48.8,94.1,119.6,67.5,13.7,0.8,1.79,30.7
50,2015,Rest of Qld,"2,459,039","31,120",21.7,75.9,118.7,118.4,57.6,11.6,0.7,2.02,29.4
51,2015,Greater Adelaide,"1,313,419","15,511",10.5,40.4,94.5,124.7,67.8,13.7,0.8,1.76,31.0
52,2015,Rest of SA,"387,249","4,069",19.7,90.3,131.4,118.4,51.1,9.1,0.5,2.10,29.0
53,2015,Greater Perth,"1,998,937","27,143",11.2,45.3,92.3,125.6,72.6,14.8,0.9,1.81,31.0
54,2015,Rest of WA,"541,735","7,605",31.3,98.9,125.8,116.5,54.8,10.6,0.5,2.19,29.0
55,2015,Greater Hobart,"223,502","2,608",19.1,57.2,100.8,123.0,65.8,14.6,0.8,1.91,30.4
56,2015,Rest of Tas.,"291,615","3,063",19.7,83.3,124.2,108.7,49.9,9.0,0.3,1.98,28.9
57,2015,Greater Darwin,"144,914","2,383",19.5,73.0,102.3,118.1,69.5,16.3,1.0,2.00,30.2
58,2015,Rest of NT,"99,778","1,621",66.8,103.6,94.4,88.4,46.1,9.8,0.4,2.05,27.1
59,2015,AUSTRALIA,"23,815,995","305,377",13.1,48.7,95.8,122.3,70.0,14.8,1.0,1.83,30.9

In [23]:
birth_data_syd_df = birth_data_df.loc[birth_data_df['Place of Usual Residence'] == "Greater Sydney"]
birth_data_syd_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
0,2012,Greater Sydney,"4,677,196","66,474",10.0,41.7,93.0,128.9,81.5,19.0,1.1,1.88,31.6
15,2013,Greater Sydney,"4,757,364","67,869",9.3,39.8,91.2,128.4,80.9,19.0,1.2,1.85,31.7
30,2014,Greater Sydney,"4,841,349","62,084",8.3,37.0,86.9,125.0,79.0,18.5,1.3,1.78,31.7
45,2015,Greater Sydney,"4,930,189","67,268",7.6,35.4,84.3,123.9,78.9,18.4,1.4,1.75,31.8
60,2016,Greater Sydney,"5,024,923","65,390",6.7,32.6,80.3,120.9,77.1,18.0,1.6,1.69,31.9
75,2017,Greater Sydney,"5,136,919","65,288",6.2,31.9,78.5,119.7,77.9,18.5,1.6,1.67,32.0
90,2018,Greater Sydney,"5,225,098","72,514",5.8,30.7,77.3,120.2,79.4,19.0,1.7,1.67,32.1
105,2019,Greater Sydney,"5,312,163","66,657",5.4,29.9,74.9,117.5,79.4,19.3,1.7,1.64,32.1

In [24]:
birth_data_nsw_df = birth_data_df.loc[birth_data_df['Place of Usual Residence'] == "Rest of NSW"]
birth_data_nsw_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
1,2012,Rest of NSW,"2,627,048","31,583",22.9,81.0,133.2,126.6,59.1,11.4,0.6,2.17,29.2
16,2013,Rest of NSW,"2,646,668","32,018",22.0,78.4,132.2,125.9,58.8,11.5,0.7,2.15,29.3
31,2014,Rest of NSW,"2,667,004","28,152",20.1,73.0,125.0,120.7,57.0,11.2,0.7,2.04,29.4
46,2015,Rest of NSW,"2,685,979","31,210",19.0,70.6,123.0,120.3,56.3,11.4,0.6,2.01,29.5
61,2016,Rest of NSW,"2,707,935","29,346",17.2,66.2,116.4,117.4,55.5,10.9,0.7,1.92,29.6
76,2017,Rest of NSW,"2,731,017","30,007",16.6,66.4,116.1,120.2,56.8,11.0,0.7,1.94,29.8
91,2018,Rest of NSW,"2,755,070","33,756",15.6,66.2,117.6,123.6,59.7,11.3,0.8,1.97,29.9
106,2019,Rest of NSW,"2,777,654","31,493",15.0,67.1,119.8,125.7,60.8,11.8,0.7,2.00,30.0

In [26]:
birth_data_aus_df = birth_data_df.loc[birth_data_df['Place of Usual Residence'] == "AUSTRALIA"]
birth_data_aus_df

,Year,Place of Usual Residence,Estimated resident population,Births,15–19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,Total fertility rate,Median age of mother
14,2012,AUSTRALIA,"22,733,465","309,582",16.3,53.9,103.3,126.3,71.0,15.2,0.9,1.93,30.7
29,2013,AUSTRALIA,"23,128,129","308,065",15.6,52.5,101.6,125.5,70.9,15.3,0.9,1.91,30.8
44,2014,AUSTRALIA,"23,475,686","299,697",14.5,50.6,98.8,124.0,70.5,15.0,0.9,1.87,30.8
59,2015,AUSTRALIA,"23,815,995","305,377",13.1,48.7,95.8,122.3,70.0,14.8,1.0,1.83,30.9
74,2016,AUSTRALIA,"24,190,907","311,104",11.8,46.5,93.4,121.9,70.3,14.8,1.1,1.80,31.1
89,2017,AUSTRALIA,"24,597,528","309,142",10.9,45.0,91.7,121.4,71.1,15.1,1.2,1.78,31.2
104,2018,AUSTRALIA,"24,992,369","315,147",10.1,43.4,90.2,120.7,71.8,15.6,1.3,1.77,31.3
119,2019,AUSTRALIA,"25,364,307","305,832",9.5,41.8,87.4,117.8,70.9,15.7,1.3,1.72,31.4